.share-wrap {
    height: 100%;
    width: 100%;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
}

.share-container {
  position: absolute;
  margin-top: 16px;
  width: 90%;
  max-height: 85vh;
  padding: 32px;
  background: #fff;
  border: 1px solid #E4E7EC;
  border-radius: 10px;
  box-shadow: 0px 4px 30px 0px rgba(33, 33, 52, 0.1);
}

.share-title {
  margin-bottom: 36px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5%;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  color: #0B0A0A;
}

.share-section {
  margin-bottom: 32px;
  background: #F9FAFB;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
  border: #E4E7EC;
}

.share-label {
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 16px;
  letter-spacing: 0.5%;
  color: #0B0A0A;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
}

.share-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.share-input {
  flex: 1;
  padding: 10px 16px;
  border: 1px solid #E4E7EC;
  border-radius: 8px;
  font-size: 0.875rem;
  outline: none;
  background: #fff;
  color: #5F6165;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
}

.open-link {
  border: 1px solid #E4E7EC;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.open-link-button{
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.redirect-svg{
  margin: 9px;
}

.share-copy,
.share-copy-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  border-radius: 8px;
  background: linear-gradient(
    270deg,
    rgba(29, 109, 158, 0.9),
    rgba(20, 65, 126, 0.9),
    rgba(11, 41, 94, 0.9),
    rgba(20, 65, 126, 0.9),
    rgba(29, 109, 158, 0.9)
  );
  background-size: 200% auto;
  color: var(--text-light, #fff);
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  transition: background-position 0.8s ease;
  border: none;
  cursor: pointer;
}

.share-copy {
  min-width: 115px;
}

.share-copy-embed {
  min-width: 170px;
}

.share-copy:hover:not(.disabled),
.share-copy-embed:hover:not(.disabled),
.qr-buttons:hover:not(.disabled) {
  animation: waveEffect 3s ease infinite;
  background-size: 200% 100%;
}

@keyframes waveEffect {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.copy-svg{
  margin-right: 4px;
}

.share-social-row {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
  height: 3vh;
}

.share-section-embed {
  margin-top: 32px;
  background: #F9FAFB;
  border-radius: 8px;
  padding: 24px;
  gap: 16px;
  border: #E4E7EC;
}


.embed-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.share-select {
  width: auto;
  text-align: center;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
}

.share-embed-label {
  font-size: 0.75rem;
  line-height: 20px;
  margin-bottom: 12px;
  color: #000000;
  font-weight: 500;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
}

.share-embed-code {
  width: 100%;
  padding: 10px 22px;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  background: #fff;
  border: 1px solid #E4E7EC;
  border-radius: 8px;
  outline: none;
  resize: none;
  height: 22vh;
}

.share-select .ant-select-selection-item {
  margin-right: 10px; /* Adjust space as needed */
}

.share-select .ant-select-arrow {
  padding-bottom: 2px;
}

.social-share-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* Overlay */
.formdetails-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

/* Modal Content */
.formdetails-modal-box {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  min-width: 30vw;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  color: #0b0a0a;
}

/* Header */
.formdetails-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 28px;
  border-bottom: 1px solid #e4e7ec;
}

.formdetails-modal-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 16px;
}

.formdetails-modal-close {
  height: 32px;
  width: 32px;
  border: 1px solid #e4e7ec;
  border-radius: 4px;
  padding: 4px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
}

/* Divider */
.formdetails-modal-divider {
  border-color: #e4e7ec;
  margin: 0 28px;
}

/* QR Code Container */
.form-container.qr-modal-content {
  padding: 16px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-canvas {
  display: block;
  margin: 0 auto;
  outline: none;
}

/* Modal Actions (Buttons container) */
.formdetails-modal-actions.qr-modal-actions {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e4e7ec;
  padding: 12px 28px;
}

.qr-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  border-radius: 8px;
  background: linear-gradient(
    270deg,
    rgba(29, 109, 158, 0.9),
    rgba(20, 65, 126, 0.9),
    rgba(11, 41, 94, 0.9),
    rgba(20, 65, 126, 0.9),
    rgba(29, 109, 158, 0.9)
  );
  background-size: 200% auto;
  color: var(--text-light, #fff);
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  transition: background-position 0.8s ease;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.qr {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
}

.qr:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(56, 212, 255, 1);
}

.twitter {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
}

.twitter:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(133, 133, 133, 1);
}

.fb {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px;
}

.fb:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(8, 121, 233, 1);
}

.linkedin {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px;
}

.linkedin:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(18, 117, 177, 1);
}

.wp {
  height: 36PX;
  width: 36PX;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px;
}

.wp:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(69, 196, 85, 1);
}

.reddit {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px;
}

.reddit:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(255, 69, 0, 1);
}

/* Tabs container */
.tabs {
  display: flex;
  margin-bottom: 8px;
  z-index: 0;
}


/* Tab buttons */
.tab-button {
  background: none;
  border: none;
  padding: 8px 24px;
  cursor: pointer;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  outline: none;
  color: #0B0A0A;
  font-weight: 600;
  border-bottom: 2px solid #E4E7EC;
  transition: color 0.3s ease, border-color 0.3s ease, font-weight 0.3s ease;
  z-index: 1;
}


/* Modal/prompt content, centered */
.no-publish-link-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.no-publish-title {
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 0px;
  color: #0B0A0A;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.no-publish-content {
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 32px;
}

.button-container {
  width: 15%;
}

.button-text-container {
  display: flex;
  flex-direction: row;
  padding: 4px;
  gap: 8px;
  justify-content: space-between;
}

.publish-text {
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
}


.main-share-content.blurred {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}
